@using BassinoLibrary.Helpers
@using BassinoLibrary.Resource
@using Domain.Misc
@using Roles = Domain.Security.Roles

@model BassinoBase.Models.ProfileViewModel
@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    ViewBag.Action = "Edit";
    ViewBag.FormId = "EditForm";
}
@section Header{
    <div id="areaNotificacionLogin" class="notifiaction-container">
        <div id="mensajeNotificacionLogin" class="notification">

        </div>
    </div>
    @Helpers.ModalHeader(Resources.Register)
}
<fieldset>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.id)
    @Html.HiddenFor(model=>model.IdAsp)
    @Html.PersonalSEditorForFull(model => model.Name, Resources.Name)
    @Html.PersonalSEditorForFull(model => model.LastName, Resources.LastName)

    @Html.PersonalSEditorForFull(model => model.Email, Resources.Email)
    @Html.PersonalSEditorForFull(model => model.UserName, Resources.UserName)
    @(Html.DateTimePicker(model => model.BornDate)
          .Label()
          .SetID("StrDateTime")
          .ChangeMonth()
          .ChangeYear())
    @Html.PersonalSEditorForFull(model => model.Position, Resources.Position)
    @Html.PersonalTextAreaFor(model => model.Description, Resources.Description, 3)
    @(Html.ComboFor(model => model.RolesId)
                      .TextField<Domain.Security.Roles>(codigoAtc => codigoAtc.Description)
                      .ValueField<Domain.Security.Roles>(codigoAtc => codigoAtc.Id)
              .Label()
            // .SelectedValue(Convert.ToInt32(Model.MeasureUnitId??0))
              .ValidationMessage()
                                      .Values(ViewBag.Roles)
    )
</fieldset>
@section Footer{
    @Helpers.BotonesGuardarCancelarModal()
}


<script>
    $(document).ready(function() {

        $("#Email").focusout(function() {
            var mail = $(this).val();
            if (mail.length > 2) {
                if (IsEmail(mail)) {
                    $("#LabelMailRegFormat").hide();
                    //$.ajax({
                    //    type: 'POST',
                    //    data: { email: mail },
                    //    url: '/PersonContacInfo/CheckUserName',
                    //    success: function (responseText) {
                    //        if (responseText == false) {
                    //            $("#forgotSubmit").show();
                    //            $("#forgot").hide();
                    //        }
                    //        else {
                    //            mostrarErrorLogin("this email is al ready use");
                    //            $("#forgotSubmit").hide();
                    //            $("#forgot").show();
                    //        }
                    //    }
                    //});
                } else {
                    $("#LabelMailRegFormat").show();
                    $("#LabelMailRegFormat").css({
                        "color": "red"
                    });
                }

            } else {
                mostrarErrorLogin("Enter atleast 3 characters");
            }
        });


    });


</script>