@using BassinoLibrary.Helpers
@using BassinoLibrary.Resource

@model BassinoLibrary.ViewModels.ShipmentViewModel

@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@section Header
{
    @Helpers.ModalHeaderDetails(this, "ShipmentViewModel", Model.Id, string.Format("{0} {1}", "Anular", Resources.Shipment))
}

<fieldset @ViewBag.disable>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
      
              @ViewBag.mesage
        
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.PersonalDisplayFor(model => model.UbicationFrom)
    @Html.PersonalDisplayFor(model => model.UbicationTo)
    @Html.PersonalDisplayFor(model => model.Observations)
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped" id="tableInboud">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Estado</th>

                    </tr>
                </thead>
                <tbody>
                @{
                    foreach (var carga in ViewBag.cargasList)
                    {
                        <tr>
                            <td>@carga.Description</td>
                            @{
                        if (carga.IsDelivered)
                        {
                            <td>Entregado</td>
                        }
                        else
                        {
                            <td>No Entregado</td>
                        }
}
  
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->
</fieldset>
@section Footer
{
    @if (ViewBag.actiones != null && (bool)ViewBag.actiones)
    {
        @Helpers.BotonesGuardarCancelarModalEnd()
    }
    else
    {
        @Helpers.BotonClose()
    }
    }





