@using BassinoBase.Controllers
@using BassinoLibrary.Helpers
@using BassinoLibrary.Resource
@using Interfaz.Controllers
@using BassinoLibrary.ViewModels
@using Microsoft.Ajax.Utilities
<script>

    $(document).ready(function() {
       // $("input[type=\"checkbox\"]").bootstrapSwitch();
        updateTitle("Gestion de Cargas", "Gestion de Logistica");
    });

    function RefrescarGrilla() {
        $(".k-grid").each(function() {
            $(this).data("kendoGrid").dataSource.page(1);
            $(this).data("kendoGrid").dataSource.read();
        });
    }
    function buscar() {
        RefrescarGrilla();
    }
    function limpiar() {
        $("#filterText").val("");
        RefrescarGrilla();
    }
    function additionalParametersCargas() {
        return {
            filtro: $("#filterText").val(),
            viaje: $("#viaje").prop('checked'),
            end: $("#end").prop('checked'),
            init: $("#init").prop('checked')

            // EmpresaID: $("#EmpresaID").val()
        };
    }
    function buscar() {
        RefrescarGrilla();
    }
    function limpiar() {
        $('#init').attr('checked', false);
        $('#viaje').attr('checked', false);
        $('#end').attr('checked', false);
        $("#filterText").val("");
        RefrescarGrilla();
    }
</script>
@Helpers.BuscadorStatus()
@Helpers.BotonesActionesShipment(false, ViewBag.editar, ViewBag.borrar, ViewBag.ver, ViewBag.enviar, ViewBag.finalizar, "Shipment", ViewBag.ver, ViewBag.recibir, ViewBag.anular, ViewBag.iniciar)
@(Html.KendoGrid().Grid<ShipmentViewModel, ShipmentController>(GridDetailsMode.None)
    .Name("GridShipment")
    .Columns(columns =>
    {
        columns.Template(@<text></text>).Width(70).ClientTemplate("<input type='checkbox' onClick='disableOnCheckeyo tamd(#= id #)' name='actions' class='chkbx' value='#= id #' id='#= id #'/>").Title("Acciones");
        
        columns.Bound(p => p.Secuencia).Template(@<text></text>).Title("N° de Viaje").Width(100);
        columns.Bound(p => p.UbicationTo);
        columns.Bound(p => p.Observations);
        //      columns.Template(@<text></text>).HtmlAttributes(new {}).Width(150).ClientTemplate(@Html.Partial("_GridAcctions").ToString());
        @*columns.Template(@<text></text>).HtmlAttributes(new { @class = "acciones" }).Width(300).ClientTemplate(@Html.Partial("_GrisIcons").ToString())
              .HtmlAttributes(new { @style = "overflow: visible;" });*@
   
    }).ClientRowTemplate("<tr style='#= Statuts =='green' ? \"background-color: green ;\" : Statuts =='yellow' ? \"background-color: yellow ;\":Statuts =='red' ? \"background-color: yellow ;\" :\"\" #' data-uid='#= uid #'>" +
                                                            "<td><input type='checkbox' onClick='disableOnChecked(#= id #)' name='actions' class='chkbx' value='#= id #' id='#= id #'/></td>" +
            "<td>#: Secuencia #</td>" +
                                        "<td >#: UbicationTo #</td>" +
                                        "<td >#: Observations #</td>" +
                                  //"<td  class='acciones' style='overflow: visible;'>" + @Html.Partial("_GrisIcons").ToString() + "</td>" +
                              "</tr>")
//.EditarBorrarEnviar(true,true,true,true)
    .DataSource(dataSource => dataSource
        .Ajax()
        
        .Model(conf => conf.Id(model => model.Id))
        .PageSize(10)
                    .Read(read => read.Action("GridInfoShip", "Shipment").Data("additionalParametersCargas"))
    )
      )
<div class="color-palette-set" style="width: 100%;padding-bottom: 15px;display: inline-flex;">
    <div style="margin-right: 10px; background-color: white; font-weight: bold;"><span>Viaje Ingresado</span></div>
    <div style="margin-right: 10px; background-color: yellow; font-weight: bold;"><span>Viaje en Transito</span></div>
    <div style="margin-right: 10px; background-color: green; font-weight: bold;"><span>Viaje en conformidad y está finalizado </span></div>
    <div style="margin-right: 10px; background-color: red; font-weight: bold;"><span>Viaje Anulado </span></div>
</div>
